
body {
  padding: 0;
  margin: 0;
  overflow:hidden;
  border: 0;
  background-color: #207cca;
}
.CodeMirror {
  top: 46px;
  float: left;
  background-color: #F0F0F0;
}
iframe {
  top: 46px;
  border: 1px solid black;
  border-left: 0px;
  position: absolute;
  background-color: #F0F0F0;
}
#projSelector {
  margin-top:2px;
  font-size: 14px;
  max-width:200px;
}

#snippets {
  margin-top:2px;
  left: 100%;
  font-size: 14px;
}


#editorTools {
 position:absolute;
 top:8px;
 left: 50px;
 padding:0px;
 margin:0px;
}

.toolButton {
    float:left;
    padding:5px;
    cursor:pointer;
    text-align:center;
    margin-right:5px;
    width:70px;
}

.toolButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:3px 5px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.toolButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.toolButton:active {
	position:relative;
	top:1px;
}

#tools {
  width: 100%;
  position: absolute;
  top: 0px;
  height: 40px;
  float:right;
  background: rgb(233, 234, 238);
  z-index: -1;
  overflow: visible;
  background: #d0e4f7; /* Old browsers */
  background: -moz-linear-gradient(top, #d0e4f7 0%, #73b1e7 75%, #539fe1 84%, #87bcea 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0e4f7), color-stop(75%,#73b1e7), color-stop(84%,#539fe1), color-stop(100%,#87bcea)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d0e4f7 0%,#73b1e7 75%,#539fe1 84%,#87bcea 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d0e4f7 0%,#73b1e7 75%,#539fe1 84%,#87bcea 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d0e4f7 0%,#73b1e7 75%,#539fe1 84%,#87bcea 100%); /* IE10+ */
  background: linear-gradient(to bottom, #d0e4f7 0%,#73b1e7 75%,#539fe1 84%,#87bcea 100%); /* W3C */
}

#tools div.tool, #tools div.activeTool {
  float: right;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100px;
  height: 20px;
  padding-top: 8px;
  padding-bottom:7px;        
  background-color: rgb(183, 184, 188);
  margin-right:5px;
  margin-top:5px;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  color: #000000;
  cursor: pointer;
  background: rgb(167,207,223); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(35,83,138,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C */
}

#tools div.tool:hover, #tools div.activeTool {
  color: white;
  background: #73b1e7; /* Old browsers */
  background: -moz-linear-gradient(top, #73b1e7 3%, #539fe1 58%, #207cca 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#73b1e7), color-stop(58%,#539fe1), color-stop(100%,#207cca)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #73b1e7 3%,#539fe1 58%,#207cca 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #73b1e7 3%,#539fe1 58%,#207cca 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #73b1e7 3%,#539fe1 58%,#207cca 100%); /* IE10+ */
  background: linear-gradient(to bottom, #73b1e7 3%,#539fe1 58%,#207cca 100%); /* W3C */
}

#logo {
  top: 4px;
  left: 8px;
  position: absolute;
  background-image: url(images/cubic_logo.png);
  background-size:34px 36px;
  width: 34px;
  height: 36px;
}

.dataForm {
  position: absolute;
  top: 50px;
  left: 50%;
  background-color: #1981DB;
  border-radius: 10px;
  z-index: 1000;
  width:550px;
  margin-left:-275px;
}

.dataForm input {
    border-radius:5px;
    padding:2px;
}

.dataForm div.dataFormRow {
  width:500px;
  clear:both;
}

.dataFormRow label {
    color:white;
}

.dataFormRow select {
}

.dataFormRow div.invalid label {
    color: #FF5555;
}
.dataFormRow div.invalid input, .dataFormRow div.invalid select {
    background-color: #FF8888;
}


.dataForm div.dataLabel {
  float:left;
  width:120px;
  text-align:right;
  padding:4px;
}

.dataForm div.dataInput {
  float:left;
}

.dataForm span.required {
  color:darkred;
  padding:4px;
}

.dataForm input.dataSubmit {
  clear:left;
  width:100px;
  height:30px;
  font-size:16px;
}

.dataForm div.dataSubmit {
  padding:8px;
  text-align:center;
}

div.dataFormTitle {
  text-align:center;
  padding:4px;
  margin:4px;
  background-color:black;
  opacity:0.4;
  color:white;
  border-radius: 10px;
}

.dataFormTitle a {
    position:relative;
    font-size:20px;
    color:white;
    float:right;
    margin-top:-3px;
    margin-right:10px;
    margin-bottom:10px;
}


div.imagePickerWrapper {
    height:24px;
    width: 24px;
    background-color:black;
    display:inline-block;
    position:relative;
    top:6px;
}

div.imagePicker, div.imagePickerActive {
    overflow-x:hidden; 
    margin: 0px 2px 2px 2px;
    position:absolute;
    background-color:black;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

div.imagePicker { 
    overflow-y:hidden; 
    height: 24px;
    width: 32px;
    transform: scale(1) translate(0px,0px);
    -webkit-transform: scale(1) translate(0px,0px);
    opacity:0;
    border-radius:1px;
    border: 1px solid rgb(11,64,111);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
} 

div.imagePickerActive { 
    overflow-x:hidden; 
    overflow-y:scroll; 
    margin: 0px 2px 2px 2px;
    width: 110px;
    height: 64px;
    transform: scale(3) translate(24px,21px);
    -webkit-transform: scale(3) translate(24px,21px);
    opacity:1;
    border: 5px solid rgb(11,64,111);
    border-radius:5px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

div.imagePickerActive img, div.imagePicker img {
    cursor:pointer;
    border:1px solid transparent;
}

div.imagePicker img:hover, div.imagePickerActive img:hover {
    cursor:pointer;
    border:1px solid lightgreen;
}

div.imagePicker img {
    pointer-events:none;
}