<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Layout Perf Test</title>
    <style type="text/css">
      body { margin: 0; overflow: hidden; }
    </style>
    <script src="../../CubicVR.js" type="text/javascript"></script>
    <script type='text/javascript'>	

      function webGLStart( gl, canvas ) {
        var layout = new CubicVR.Layout({
                width: canvas.width,
                height: canvas.height
            }),
            mTex = new CubicVR.Texture('../images/target.png'),
            target = [],
            pw = 50,
            pwh = pw/2;
        
        for (var i = 0; i < 1000; i++) {
            target[ i ] = new CubicVR.View({
                x: Math.random() * canvas.width - pwh,
                y: Math.random() * canvas.height - pwh,
                width: pw,
                height: pw,
                blend: true,
                tint: [
                    Math.random() + 0.2,
                    Math.random() + 0.2,
                    Math.random() + 0.2
                ],
                texture:mTex          
            });
            
            target[ i ].vec = [
                ( Math.random() - 0.5 ) * 2.0,
                ( Math.random() - 0.5 ) * 2.0
            ];
            layout.addSubview( target[ i ] );
        }

        CubicVR.MainLoop(function(timer, gl) {
            for (var i = 0, iMax = target.length; i<iMax; i++) {
                target[ i ].x += target[ i ].vec[ 0 ] * timer.getLastUpdateSeconds() * 200.0;
                target[ i ].y += target[ i ].vec[ 1 ] * timer.getLastUpdateSeconds() * 200.0;

                if( target[ i ].x > canvas.width + pw )
                    target[ i ].x -= canvas.width;

                if( target[ i ].y > canvas.height + pw )
                    target[ i ].y -= canvas.height;

                if( target[ i ].x < -pw )
                    target[ i ].x += canvas.width;

                if( target[ i ].y < -pw )
                    target[ i ].y += canvas.height;
            }
          
           layout.render();
        });
      }

    </script>
  </head>
  <body onLoad="CubicVR.start( 'auto', webGLStart );"></body>
</html>

